.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 35px;

    background:white;

    border-bottom:1px solid #eee;

}

.profile{

    display:flex;

    align-items:center;

    gap:10px;

    font-weight:600;

}